<div class="field">
    <label for="code" class="field-label">Code</label>
    <input id="code" type="text" class="field-input">
    <span class="field-error">Une erreur s'est produite</span>
    <span class="field-helper">Mettez votre code promo (chiffres)</span>
</div>