.modal{
  position: relative;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 15px 10px;
  color: var(--white);
}

.modal-success{
  background-color: var(--success);
}

.modal-danger{
  background-color: var(--danger);
}

.alert {
  position: relative;
  width: 100%;
  color: var(--white);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 15px 10px;
}

.alert-success{
  background-color: var(--success);
}

.alert-danger{
  background-color: var(--danger)
}

.alert-cross{
  position: absolute;
  top: 5px;
  right: 10px;
}