/** ------- FIELD INPUT ------- **/
.field {
  position: relative;
  height: 45px;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.field-helper,
.field-error {
  display: block;
  padding-left: 10px;
  font-size: 0.8rem;
}

.field-error {
  color: var(--danger);
}

.field-helper {
  color: var(--gray-300);
}

.field:after,
.field:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.field:before {
  background-color: transparent;
}

.field:after {
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform 0.5s;
}

.is-focused .field-label {
  font-size: 12px;
  color: var(--secondary);
}

.field.is-focused:after {
  transform: scaleX(1);
}

.has-label .field-label {
  font-size: 12px;
  color: var(--secondary);
  transform: translateY(-8px) scale(0.95);
}

.field-label {
  position: relative;
  line-height: 0;
  font-size: 0.9rem;
  font-weight: 400;
  display: block;
  transform: translateY(24px);
  transition: transform 0.3s;
  transform-origin: 0 50%;
  z-index: 10;
  color: var(--black);
  margin-left: 10px;
}

input.field-input {
  position: relative;
  padding: 8px 10px;
  line-height: 16px;
  border: 1px solid var(--secondary);
  -webkit-appearance: none;
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: var(--gray-light);
}

//** ------- FIELD INLINE BORDER-BOTTOM ------- **/

.field-inline {
  position: relative;
  height: 50px;
  margin: 0 1rem;
  //   padding: 16px 0 8px 0;
}

.field-inline:after,
.field:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.field-inline:before {
  background-color: var(--gray-light);
}

.field-inline:after {
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform 0.5s;
}

.is-focused .field-inline-label {
  font-size: 12px;
  color: var(--secondary);
}

.field-inline.is-focused:after {
  transform: scaleX(1);
}

.has-label .field-inline-label {
  font-size: 12px;
  font-weight: var(--body-light);
  color: var(--gray);
  transform: translateY(0) scale(0.95);
}

.field-inline-label {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 0;
  transform: translateY(24px);
  transition: transform 0.3s;
  transform-origin: 0 50%;
  z-index: 10;
  color: var(--gray);
  margin-left: 10px;
}

input.field-inline-input {
  position: relative;
  padding: 8px 10px;
  line-height: 16px;
  border-bottom: 1px solid var(--theme-primary);
  -webkit-appearance: none;
  width: 100%;
  //   height: 50px;
  height: 100%;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  &:focus {
    outline: none;
  }
}