{% extends 'base.html.twig' %}

{% block title %}Iceroll-Delice Event{% endblock %}

{% block body %}

<main>
    {{ include("partials/_social-header.html.twig") }}
    <div class="background-gradient-2"></div>
    <section>
        <div class="container splash justify-content-center align-items-center align-items-center-medium-up align-items-center-medium-down">
            <div class="mt-20 mb-100 mb-small-10">
                <h1 class="txt-c txt-white banner-title">Page introuvable</h1>
                <div class="row-top gutter mt-10">
                    <a href="#" class="btn-flex absolute-center-center">
                        <button class="btn btn-primary chevron-down">Retour à la page d'accueil</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
</main>
{% endblock %}