<aside class="aside-nav">
    <nav>
        <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Flavors</a></li>
            <li><a href="#">Costs</a></li>
        </ul>
    </nav>
</aside>