@media only screen and (max-width: 660px){
  table thead tr {
    display: none;
  }

  table tbody{
    @include clearfix;
  }

  table tbody tr,{
    width: 50%;
    float: left;
    border-left: 1px solid var(--gray-200);
    &:first-child{
      border-left: none;
    }
  }

  table tbody th,
  table tbody td,
  table tbody  td:not([align]),
  table tbody  th:not([align]){
    width: 100%;
  }

  table tbody tr,
  table tbody th,
  table tbody td,
  table tbody  td:not([align]),
  table tbody  th:not([align]){
    display: block;
    text-align: center;
  }

  table tbody tr th.th-index{
    background-color: var(--gray-300);
  }
}